footer {
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 2%;
    margin-bottom: 0;
    width: auto;
    align-content: center;
    display:block;
    text-align: center;
    height: 100%;
}